<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8yuanjian-che_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,43},{111,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,19}}</string>
                <key>sourceSize</key>
                <string>{111,19}</string>
            </dict>
            <key>8yuanjian-che_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{113,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,39}}</string>
                <key>sourceSize</key>
                <string>{113,39}</string>
            </dict>
            <key>8yuanjian-ding.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{119,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,72}}</string>
                <key>sourceSize</key>
                <string>{119,72}</string>
            </dict>
            <key>8yuanjian-fawei.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,216},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>8yuanjian-kou.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,214},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>8yuanjian-lunk_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,356},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>8yuanjian-lunk_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,414},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>8yuanjian-lunz_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>8yuanjian-lunz_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>8yuanjian-ma.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,108}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>8yuanjian-msw.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,161},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>8yuanjian-mt1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,64},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>8yuanjian-mt1_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,286},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>8yuanjian-mt2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,97},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>8yuanjian-mt2_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,479},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>8yuanjian-qunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,286},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>8yuanjian-san_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{121,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,133}}</string>
                <key>sourceSize</key>
                <string>{121,133}</string>
            </dict>
            <key>8yuanjian-san_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{51,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,126}}</string>
                <key>sourceSize</key>
                <string>{51,126}</string>
            </dict>
            <key>8yuanjian-shangbi_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,214},{11,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,26}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>8yuanjian-shangbi_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,216},{9,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,26}}</string>
                <key>sourceSize</key>
                <string>{9,26}</string>
            </dict>
            <key>8yuanjian-shengti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>8yuanjian-shengzi_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,337},{75,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,38}}</string>
                <key>sourceSize</key>
                <string>{75,38}</string>
            </dict>
            <key>8yuanjian-shengzi_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,322},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>8yuanjian-shou_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,183},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,29}}</string>
                <key>sourceSize</key>
                <string>{18,29}</string>
            </dict>
            <key>8yuanjian-shou_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,132},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>8yuanjian-sw.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,140},{74,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,91}}</string>
                <key>sourceSize</key>
                <string>{74,91}</string>
            </dict>
            <key>8yuanjian-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,64},{74,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,91}}</string>
                <key>sourceSize</key>
                <string>{74,91}</string>
            </dict>
            <key>8yuanjian-zhijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,226},{9,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,124}}</string>
                <key>sourceSize</key>
                <string>{9,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b6d0c604d584a50d4d62611e7c8de22$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
